<h1>Edit Proposition</h1>

<form action="/propositions/<%= @prop.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="">Title</label>
  <input name="title" type="text" value="<%=@prop.title%>">
  <label for="">Description</label>
  <input name="description"type="text" value="<%=@prop.description%>">
  <label for="">Deadline</label>
  <input name="deadline"type="text" value="<%=@prop.deadline%>">
  <label for="">User ID</label>
  <input name="user_id"type="text" value="<%=@prop.user_id%>">
   <label for="categories">Pick a Category</label>
  <select name="categories" class="categories-drop">
    <option value="">Click to Select</option>
    <option value="TV Shows">TV Shows</option>
    <option value="Movies">Movies</option>
    <option value="Sports">Sports</option>
    <option value="Celebrities">Celebrities</option>
    <option value="People">People</option>
    <option value="Politics">Politics</option>
    <option value="Games">Games</option>
    <option value="Other">Other</option>
  </select>
  <button>Edit</button>
</form>
