
<div class="dashboard-content">

  <div class="prop-holder">
    <h4 class="dashboard-title dt-top">POPULAR</h4>
    <div class="holder-4-full">
      <% @prop_popular.each do |prop| %>
        <div class="prop" style="background-image: url(<%= prop.image %>)">
          <a href="/propositions/<%= prop.id %>">
            <div class="overlay">
              <div class="prop-blurb">
                <h5><%= prop.title %></h5>
                <div class="blurb-left">
                  <% timeToDeadline = (((prop.deadline - Time.now) /60) /60).floor %>
                  <% if timeToDeadline > 0 %>
                    <p><%= number_with_delimiter(timeToDeadline, :delimiter => ',') %> hours</p>
                  <% else %>
                    <p>Finished</p>
                  <% end %>
                </div>
                <div class="blurb-right">
                  <%= image_tag('icons/cross-icon.png', alt: 'Cross Icon') %>
                  <p><%=prop.bets.where(bet_side: false).count %></p>
                  <%= image_tag('icons/tick-icon.png', alt: 'Tick Icon') %>
                  <p><%=prop.bets.where(bet_side: true).count %></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="prop-holder">
    <h4 class="dashboard-title">NEW</h4>
    <div class="holder-4-full">
      <% @props.each do |prop| %>
        <div class="prop" style="background-image: url(<%= prop.image %>)">
          <a href="/propositions/<%= prop.id %>">
            <div class="overlay">
              <div class="prop-blurb">
                <h5><%= prop.title %></h5>
                <div class="blurb-left">
                  <% timeToDeadline = (((prop.deadline - Time.now) /60) /60).floor %>
                  <% if timeToDeadline > 0 %>
                    <p><%= number_with_delimiter(timeToDeadline, :delimiter => ',') %> hours</p>
                  <% else %>
                    <p>Finished</p>
                  <% end %>
                </div>
                <div class="blurb-right">
                  <%= image_tag('icons/cross-icon.png', alt: 'Cross Icon') %>
                  <p><%=prop.bets.where(bet_side: false).count %></p>
                  <%= image_tag('icons/tick-icon.png', alt: 'Tick Icon') %>
                  <p><%=prop.bets.where(bet_side: true).count %></p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="dashboard-panel" id="sticky-sidebar">
  <div class="stats">
    <!-- <h4>Dashboard</h4> -->
    <!-- account total -->
    <div class="acc-total">
      <p>Account Total</p>
      <h2>$<%= current_user.account_balance %>0</h2>
    </div>
    <div class="dashboard-octa">
      <div class="octa-holder">
        <p>Current Wagers</p>
        <h4><%= @current_wagers %></h4>
      </div>
      <div class="octa-holder">
        <p>Current Propositions</p>
        <h4><%= @current_propositions %></h4>
      </div>
      <div class="octa-holder">
        <p>Profit (last 30 days)</p>
        <h4>$<%= @profit_30 %></h4>
      </div>
      <div class="octa-holder">
        <p>Profit (all time)</p>
        <h4>$<%= @profit_all %></h4>
      </div>
    </div>
    <div class="chart">
      <p>Previous 6 week performance</p>
      <canvas id="myChart" width="100%" height="50px"></canvas>
    </div>
    <div class="funding">
      <p>Fund your Account with $50</p>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>

        </article>
        <input type="hidden" name="custom_amount" value="5000">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Credit Wagr Account"
                data-amount="5000"
                data-locale="auto"></script>
      <% end %>
      <a href="/charges/new">
        <p id="more-options">More Options</p>
      </a>
    </div>
  </div>
</div>

<script>
  var sidebar = document.getElementById('sticky-sidebar');
  Stickyfill.add(sidebar);
</script>

<script>

var ctx = document.getElementById("myChart");
Chart.defaults.global.legend.display = false;
Chart.defaults.global.tooltips.enabled = false;

var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["6w", "5w", "4w", "3w", "2w", "1w"],
    datasets: [{
      label: '# of Votes',
      data: [3, 2, 5, 3, 19, 12],
      backgroundColor: [ 'rgba(94, 154, 221, 0.5)' ],
      borderColor: [ 'rgba(94, 154, 221, 1)' ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: true
      }],
      yAxes: [{
        display: false
      }]
    }
  }
});

</script>
