
<div class="dashboard-content">

  <div class="prop-holder">
    <h4 class="dashboard-title dt-top">POPULAR</h4>
    <div class="holder-4-full">
      <% @prop_popular.each do |prop| %>
        <div class="prop" style="background-image: url(<%= prop.image %>)">
          <a href="/propositions/<%= prop.id %>">
            <div class="overlay">
              <div class="prop-blurb">
                <h5><%= prop.title %></h5>
                <div class="blurb-left">
                  <% timeToDeadline = (((prop.deadline - Time.now) /60) /60).floor %>
                  <p><%= number_with_delimiter(timeToDeadline, :delimiter => ',') %> hours</p>
                </div>
                <div class="blurb-right">
                  <%= image_tag('icons/cross-icon.png', alt: 'Cross Icon') %>
                  <p>23</p>
                  <%= image_tag('icons/tick-icon.png', alt: 'Tick Icon') %>
                  <p>47</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
  <div class="prop-holder">
    <h4 class="dashboard-title">NEW</h4>
    <div class="holder-4-full">
      <% @props.each do |prop| %>
        <div class="prop" style="background-image: url(<%= prop.image %>)">
          <a href="/propositions/<%= prop.id %>">
            <div class="overlay">
              <div class="prop-blurb">
                <h5><%= prop.title %></h5>
                <div class="blurb-left">
                  <% timeToDeadline = (((prop.deadline - Time.now) /60) /60).floor %>
                  <p><%= number_with_delimiter(timeToDeadline, :delimiter => ',') %> hours</p>
                </div>
                <div class="blurb-right">
                  <%= image_tag('icons/cross-icon.png', alt: 'Cross Icon') %>
                  <p>23</p>
                  <%= image_tag('icons/tick-icon.png', alt: 'Tick Icon') %>
                  <p>47</p>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="dashboard-panel" id="sticky-sidebar">
  <div class="stats">
    <!-- <h4>Dashboard</h4> -->
    <!-- account total -->
    <div class="acc-total">
      <p>Account Total</p>
      <h2>$<%= current_user.account_balance %>0</h2>
    </div>
    <div class="dashboard-octa">
      <div class="octa-holder">
        <p>Current Wagers</p>
        <h4><%= @current_wagers %></h4>
      </div>
      <div class="octa-holder">
        <p>Current Propositions</p>
        <h4><%= @current_propositions %></h4>
      </div>
      <div class="octa-holder">
        <p>Profit (last 30 days)</p>
        <h4>$<%= @profit_30 %></h4>
      </div>
      <div class="octa-holder">
        <p>Profit (all time)</p>
        <h4>$<%= @profit_all %></h4>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

<script>
  var sidebar = document.getElementById('sticky-sidebar');
  Stickyfill.add(sidebar);
</script>
