
<p><%= flash[:title] %></p>
<p><%= flash[:notice] %></p>

<div class="show-holder">

  <div class="content">
    <div class="card-left"><img src="/images/card-sides.png" alt=""></div>
    <div class="card">
      <div class="card-image" style="background-image: url(<%= @prop.image %>)"></div>
      <div class="card-blurb">
        <h5><%= @prop.title %></h5>
        <div class="button-holder">
          <form action="/bets" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
            <input type="hidden" name="bet_side" value="yes">
            <% if !user_voted? %>
              <button class="btn-yes"><%= image_tag('icons/tick-icon.png', alt: 'Tick Icon') %></button>
            <% end %>
          </form>
          <h5>$<span>10</span></h5>
          <form action="/bets" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input id="proposition_id" type="hidden" name="proposition_id" value="<%=@prop.id%>">
            <input type="hidden" name="bet_side" value="no">
            <% if !user_voted? %>
              <button class="btn-no"><%= image_tag('icons/cross-icon.png', alt: 'Tick Icon') %></button>
            <% end %>
          </form>
        </div>
      </div>
    </div>
    <div class="card-right"><img src="/images/card-sides-flip.png" alt=""></div>
    <div class="extra-info">
      <div class="description">
        <h5>Description</h5>
        <p><%= @prop.description %></p>
      </div>

      <div class="bets">
      <h5 class="heading">Wagers</h5>
        <% @prop.bets.each do |bet| %>
          <p>
            <%= user = User.find_by(id:bet.user_id).user_name %> voted <%= bet.bet_side %>
            <% if logged_in? && deadline_passed? && (admin? || bet.user_id == session[:user_id]) %>
              <form action="/bets/<%= bet.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="id" value="<%=bet.id%>">
                <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
                <button>Delete</button>
              </form>
            <% end %>
          </p>
          <hr>
        <%end%>
      </div>
    </div>
  </div>

  <% if logged_in? %>
  <div class="side-panel">
    <div class="stats">
      <h4>Dashboard</h4>
    </div>

     <% if admin? || referee? %>
    <div class="ref-options">
      <h4>Score this Proposition</h4>
      <form action="/referee" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="outcome" value="true">
        <input type="hidden" name="id" value="<%= @prop.id %>">
        <button>Score as True</button>
      </form>
      <form action="/referee" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="outcome" value="false">
        <input type="hidden" name="id" value="<%= @prop.id %>">
        <button id="no-btn">Score as False</button>
      </form>
    </div>
   <% end %>
    <% if admin? %>
    <div class="admin-options">
      <h4>Admin Panel</h4>
      <form action="/propositions/<%= @prop.id %>/edit" method="get">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button id="edit-btn">Edit</button>
      </form>
      <form action="/propositions/<%= @prop.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="_method" value="delete">
        <button id="delete-btn">Delete</button>
      </form>
    </div>
  <% end %>
  </div>
<% end %>
</div>

<script>
  $('.btn-yes').on('click', function(event) {
    event.preventDefault();
    var $prop_id = $('#proposition_id').val();
    $('.btn-yes').fadeOut(500);
    $('.btn-no').fadeOut(500);

    $.ajax({
      url: '/api/bets',
      data: { bet_side: "yes",
              proposition_id: $prop_id
             },
      method: 'post'
    }).done(function(response) {
      $('.heading').after('<p>' + response.user_name + ' voted ' + response.bet_side + '</p>' + ' <button style="text-decoration: underline">Delete</button>' + '<hr>');
    });
  });

  $('.btn-no').on('click', function(event) {
    event.preventDefault();
    var $prop_id = $('#proposition_id').val();
    $('.btn-yes').fadeOut(500);
    $('.btn-no').fadeOut(500);

    $.ajax({
      url: '/api/bets',
      data: { bet_side: "no",
              proposition_id: $prop_id
             },
      method: 'post'
    }).done(function(response) {
      $('.bets').prepend('<p>' + response.user_name + ' voted ' + response.bet_side + '</p>' + ' <button style="text-decoration: underline">Delete</button>' + '<hr>');
    });
  });

</script>
