
<div class="show-holder">

  <div class="content">
    <div class="card-left"><img src="/images/card-sides.png" alt=""></div>
    <div class="card">
      <div class="card-image" style="background-image: url(<%= @prop.image %>)"><div style="color: white" id="countdown"></div></div>
      <div class="card-blurb">
        <h5><%= @prop.title %></h5>
        <div class="button-holder">
          <form action="/bets" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
            <input type="hidden" name="bet_side" value="yes">
            <% if !user_voted? %>
              <button class="btn-yes"><%= image_tag('icons/tick-icon.png', alt: 'Tick Icon') %></button>
            <% end %>
          </form>
          <h5>$<span>10</span></h5>
          <form action="/bets" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <input id="proposition_id" type="hidden" name="proposition_id" value="<%=@prop.id%>">
            <input type="hidden" name="bet_side" value="no">
            <% if !user_voted? %>
              <button class="btn-no"><%= image_tag('icons/cross-icon.png', alt: 'Tick Icon') %></button>
            <% end %>
          </form>
        </div>
      </div>
    </div>
    <div class="card-right"><img src="/images/card-sides-flip.png" alt=""></div>
    <div class="extra-info">
      <div class="description">
        <h5>Description</h5>
        <p><%= @prop.description %></p>
      </div>

      <div class="bets">
      <h5 class="heading">Wagers</h5>
        <% @prop.bets.first(10).each do |bet| %>
          <p>
            <%= user = User.find_by(id:bet.user_id).user_name %> voted <%= bet.bet_side %>
            <% if logged_in? && deadline_passed? && (admin? || bet.user_id == session[:user_id]) %>
              <form action="/bets/<%= bet.id %>" method="post">
                <input type="hidden" name="_method" value="delete">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input type="hidden" name="id" value="<%=bet.id%>">
                <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
                <button>Delete</button>
              </form>
            <% end %>
          </p>
          <hr>
        <%end%>
      </div>
    </div>
  </div>

  <% if logged_in? %>
  <div class="side-panel">
    <div class="stats">
      <!-- <h4>Dashboard</h4> -->
      <!-- account total -->
      <div class="acc-total">
        <p>Account Total</p>
        <h2>$<%= current_user.account_balance %>0</h2>
      </div>
      <div class="dashboard-octa">
        <div class="octa-holder">
          <p>Current Wagers</p>
          <h4><%= @current_wagers %></h4>
        </div>
        <div class="octa-holder">
          <p>Current Propositions</p>
          <h4><%= @current_propositions %></h4>
        </div>
        <div class="octa-holder">
          <p>Profit (last 30 days)</p>
          <h4>$<%= @profit_30 %></h4>
        </div>
        <div class="octa-holder">
          <p>Profit (all time)</p>
          <h4>$<%= @profit_all %></h4>
        </div>
      </div>
      <div class="chart">
        <p>Previous 6 week performance</p>
        <canvas id="myChart" width="100%" height="50px"></canvas>
      </div>
    </div>

     <% if admin? || referee? %>
    <div class="ref-options">
      <h4>Score this Proposition</h4>
      <form action="/referee" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="outcome" value="true">
        <input type="hidden" name="id" value="<%= @prop.id %>">
        <button>Score as True</button>
      </form>
      <form action="/referee" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="outcome" value="false">
        <input type="hidden" name="id" value="<%= @prop.id %>">
        <button id="no-btn">Score as False</button>
      </form>
    </div>
   <% end %>
    <% if admin? %>
    <div class="admin-options">
      <h4>Admin Panel</h4>
      <form action="/propositions/<%= @prop.id %>/edit" method="get">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <button id="edit-btn">Edit</button>
      </form>
      <form action="/propositions/<%= @prop.id %>" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="hidden" name="_method" value="delete">
        <button id="delete-btn">Delete</button>
      </form>
    </div>
  <% end %>
  </div>
<% end %>
</div>

<div id="deadline"><%=@prop.deadline%></div>

<script type="text/javascript">
var $deadline = $('#deadline').html();
  $("#countdown")
  .countdown($deadline, function(event) {
    $(this).text(
      event.strftime('%W week%!W %-d day%!D %-H h %M min %S sec')
    );
  });
</script>

<script>
  $('.btn-yes').on('click', function(event) {
    event.preventDefault();
    var $prop_id = $('#proposition_id').val();
    $('.btn-yes').fadeOut(200);
    $('.btn-no').fadeOut(200);

    $.ajax({
      url: '/api/bets',
      data: { bet_side: "yes",
              proposition_id: $prop_id
             },
      method: 'post'
    }).done(function(response) {
      $('.heading').after('<p class="vote" id="' + response.bet_id + '">' + response.user_name + ' voted ' + response.bet_side + '</p><button class="delete" style="text-decoration: underline">Delete</button><hr class="line">');

      $('.delete').on('click', function(event) {
        var $bet_id = $('.vote').attr("id")

        $.ajax({
          url: '/api/bets',
          data: { bet_id: $bet_id },
          method: 'delete'
        }).done(function(response) {
          $('.vote').hide();
          $('.line').hide();
          $('.delete').hide();
          $('.btn-yes').show();
          $('.btn-no').show();
        });
      });
    });
  });

  $('.btn-no').on('click', function(event) {
    event.preventDefault();
    var $prop_id = $('#proposition_id').val();
    $('.btn-yes').fadeOut(200);
    $('.btn-no').fadeOut(200);

    $.ajax({
      url: '/api/bets',
      data: { bet_side: "no",
              proposition_id: $prop_id
             },
      method: 'post'
    }).done(function(response) {
      $('.heading').after('<p class="vote" id="' + response.bet_id + '">' + response.user_name + ' voted ' + response.bet_side + '</p><button class="delete" style="text-decoration: underline">Delete</button><hr class="line">');

      $('.delete').on('click', function(event) {
        var $bet_id = $('.vote').attr("id")

        $.ajax({
          url: '/api/bets',
          data: { bet_id: $bet_id },
          method: 'delete'
        }).done(function(response) {
          $('.vote').hide();
          $('.line').hide();
          $('.delete').hide();
          $('.btn-yes').show();
          $('.btn-no').show();
        });
      });
    });
  });


</script>

<script>

var ctx = document.getElementById("myChart");
Chart.defaults.global.legend.display = false;
Chart.defaults.global.tooltips.enabled = false;

var myChart = new Chart(ctx, {
  type: 'line',
  data: {
    labels: ["6w", "5w", "4w", "3w", "2w", "1w"],
    datasets: [{
      label: '# of Votes',
      data: [3, 2, 5, 3, 19, 12],
      backgroundColor: [ 'rgba(94, 154, 221, 0.5)' ],
      borderColor: [ 'rgba(94, 154, 221, 1)' ],
      borderWidth: 1
    }]
  },
  options: {
    scales: {
      xAxes: [{
        display: true
      }],
      yAxes: [{
        display: false
      }]
    }
  }
});

</script>
