<h1><%= @prop.title %></h1>

<form action="/propositions/<%= @prop.id %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>
<form action="/propositions/<%= @prop.id %>/edit" method="get">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <button>Edit</button>
</form>

<form action="/referee" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="outcome" value="true">
  <input type="hidden" name="id" value="<%= @prop.id %>">
  <button>Decide-Yes</button>
</form>

<form action="/referee" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="outcome" value="false">
  <input type="hidden" name="id" value="<%= @prop.id %>">
  <button>Decide-No</button>
</form>

<form action="/bets" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
  <input type="hidden" name="bet_side" value="yes">
  <button>Bet-Yes</button>
</form>

<form action="/bets" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
  <input type="hidden" name="bet_side" value="no">
  <button>Bet-No</button>
</form>

<p><%= flash[:title] %></p>
<p><%= flash[:notice] %></p>

<% @prop.bets.each do |bet| %>
  <%= user = User.find_by(id:bet.user_id).user_name %>
  <p><%= bet.bet_side %></p>
  <form action="/bets/<%= bet.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="id" value="<%=bet.id%>">
    <input type="hidden" name="proposition_id" value="<%=@prop.id%>">
    <button>Delete Bet</button>
  </form>
<%end%>
