<div class="form-block">

  <h2>Edit Account</h2>

  <form action="/users/<%= @user.id%>" method="post">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="_method" value="put">

    <input name="user_id"type="hidden" value="<%= session[:user_id] %>">

    <label for="first_name">First Name</label>
    <input name="first_name" type="text" value="<%=@user.first_name%>">

    <label for="last_name">Last Name</label>
    <input name="last_name" type="text" value="<%=@user.last_name%>">

    <label for="user_name">Username</label>
    <input name="user_name" type="text" value="<%=@user.user_name%>">

    <label for="email">Email</label>
    <input name="email" type="text" value="<%=@user.email%>">

    <label for="password">Password</label>
    <input name="password" type="password">

    <button class="form-btn blue-btn">Update</button>

  </form>

</div>
